/* MEDIA QUERIES */
@media (max-width: 1024px) {
  /* Add specific styles for larger screens if needed */
}

@media (max-width: 768px) {
  #hero {
    padding: 80px 20px;
  }

  .about-containers {
    flex-direction: column;
  }

  .details-container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .section__text__p2 {
    font-size: 1.5rem;
  }

  .section__text__p3 {
    font-size: 1.2rem;
  }

  .about-pic img {
    width: 100%;
  }

  .experience-details-container {
    padding: 0 20px;
  }

  .color-container {
    width: 100%;
    margin: 10px 0;
  }
}